nvidia-cudnn-cu11
tensorflow
torch
torchvision
torchaudio
lpips
wandb
numpy
matplotlib
opencv-python
scipy
scikit-learn
scikit-image
PyWavelets
pytorch_wavelets
cdsapi
pygrib
tqdm
imageio
jpcm==0.1.24
graphviz
torchview==0.2.6
adabound
pydmd
natten@git+https://github.com/SHI-Labs/NATTEN.git # may need to install cuda 11.7 on TACC, be prepared 
npy-append-array
torch-tb-profiler # only needed to profile