nvidia-cudnn-cu11
tensorflow
torch
torchvision
torchaudio
lpips
wandb
numpy
matplotlib
opencv-python
scipy
scikit-learn
scikit-image
PyWavelets
pytorch_wavelets
cdsapi
pygrib
tqdm
imageio
jpcm
graphviz
torchview==0.2.6
adabound
pydmd
natten # natten@git+https://github.com/SHI-Labs/NATTEN.git # may need to install cuda 11.7 on TACC, be prepared https://stackoverflow.com/questions/39379792/install-cuda-without-root
dask